{{>partials/header}}
<div class="row row-all-products">
  <div class="ui right aligned category search">
    <div class="ui icon input">
      <form action="/search-customers" method="get">
        <div class="ui icon input">
          <input type="text" name="nameSearch" placeholder="Procurar">
        </div>
      </form>
      {{#showButtonReturn}}
      <button onclick="redirectAllProducts()" class="ui blue basic button">Voltar</button>
      {{/showButtonReturn}}
    </div>

  </div>
  <table class="ui selectable  table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Telefone</th>
        <th>Visualizar</th>
      </tr>
    </thead>
    <tbody>

      {{>partials/customerTableResult}}

    </tbody>
  </table>
</div>
{{>partials/footer}}