{{>partials/header}}

{{>partials/modalFormSaleFast}}

<div class="ui five column grid">

  <div class="row">
    <div class="title-pdv">
      Caixa
    </div>
  </div>

  <div class="row">

    <div class="column"></div>
    <div class=" column">

      <div class="optionSaleButton" id="modalSaleFast">
       <img src="./images/compras-online.png" class="iconOptionSaleButtons" alt="">
      <h3 class="descriptionButtonSale">Venda Rápida</h3> 
      </div>

    </div>
    <div class=" column">
      <div class="optionSaleButton">
        <img src="./images/data-limite.png" class="iconOptionSaleButtons" alt="">
        <h3>Venda Fiado  </h3> 
      </div>
    </div>
    <div class=" column">
      <div class="optionSaleButton">

      </div>
    </div>
    <div class="column"></div>

  </div>
  <div class="row">
    <div class="two column"></div>
    <div class="column">
      {{sumAllSAle}}
    </div>
    <div class="column"></div>

  </div>

  <div class="row">
    edsx
  </div>
</div>


{{>partials/footer}}
<script src="/js/sale.js" ></script>



