

      {{>partials/header}}


      <div class="ui middle aligned  grid centered all-home ">

        
        <div class="five wide  column card-option-home shadow-all" onclick="redirectSale()"> Venda </div>
        <div class="five wide column card-option-home shadow-all" onclick=" redirectAllProducts()"> Produtos </div>
        <div class="five wide column card-option-home shadow-all" onclick="redirectAllCustomers()"> Clientes </div>
        <div class="five wide column card-option-home shadow-all"> Relatórios </div>
        <div class="five wide column card-option-home shadow-all"> Suporte </div>

      </div>
      {{>partials/footer}}
