{{>partials/header}}
<div class="ui grid grid-all-add-products">
  <div class="row row-top-bottom-products-add"></div> <!--linhha superior-->
  <div class="two wide column"></div> <!--coluna lateral esquerda--> 
  <div class="twelve wide column shadow-all"> <!--coluna central--> 
    <form class="ui form  form-add-product" method="post" action="/new-product">
      <h1 class="ui dividing header">Cadastro de produtos</h1>
      <div class="field">
        <label for="">Descrição do produto</label>
        <input type="text" name="description" placeholder="Descrição do produto">
      </div>

      <div class="fields">
        <div class="field">
          <label for="">Valor de Compra</label>
          <input type="number" name="price_buy" step="any" placeholder="Valor de Compra">
        </div>
        <div class="field">
          <label for="">Valor de Venda</label>
          <input type="number" name="price_sale" step="any" placeholder="Valor de Venda">
        </div>
        <div class="field">
          <label for="">Quantidade</label>
          <input type="number" name="quantity"  placeholder="Quantidade">
        </div>
      </div>

      <div class="filds margin-field-bottom">
        <div class="field">
          <label for="">Categorias</label>
          <select name="number_category" class="ui fluid dropdown" id="">
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
          </select>
        </div>
      </div>
      <button class="ui secondary button " type="submit">Cadastrar</button>
      <button class="ui secondary basic button ">Ver produtos</button>
    </form>
  </div>
  <div class="two wide column"></div> <!--coluna lateral direira-->
  <div class="row row-top-bottom-products-add"></div> <!--linhha inferior-->
</div>


{{>partials/footer}}