{{>partials/header}}

<div class="ui middle aligned  grid centered all-home ">

  <div class="row">
    <div class="row  title-pdv">
      Caixa {{user}}
    </div>

    <div class="eight wide  column area-left-pdv  shadow-all">
      <div class="column pdv-infor-products">
        <table class="ui basic table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Valor Un</th>
              <th>Valor Total</th>
            </tr>
          </thead>
          <tbody class="pdv-infor-products-table">

          </tbody>
        </table>
        <div class="freeBoxMessage">
          Seu Caixa esta livre no momemto
        </div>

      </div>

      <div class="row">
        <div class="column valueSale">
          <h1>Total: </h1>
          <h1 class="amountSale"> - </h1>
        </div>
      </div>
    </div>
    <div class="six wide  column  area-right-pdv shadow-all">
      <div class="ui middle aligned  grid centered options-pdv">
        <div class="row rowInputCodProduct">
          <div class="ui left icon input  input-add-code">
            <input type="text" placeholder="Código do produto" id="inpuCodProduct">
            <i class="search icon"></i>
          </div>
        </div>
        <div class="row rowOptionsSale">
          <div class=" five wide column" id="columnQuantity">
            <button class="fluid ui button" id="btnQuantityProductSale"> Quantidade </button>
          </div>
          <div class=" five wide column">
            <button class="fluid ui teal button"> </button>
          </div>
          <div class=" five wide column">
            <button class="fluid ui blue button"> Buscar Produto <br> (F1) </button>
          </div>
        </div>

        <div class="row rowOptionsSale">
          <div class=" five wide column">
            <button class="fluid ui red button" id="cancelSale"> Cancelar Venda <br> (F8) </button>
          </div>
          <div class=" five wide column" id="columnDeleteProduct">
            <button class="fluid orange ui button" id="btnDeleteProductSale"> Deletar Produto <br> (F9) </button>
          </div>
          <div class=" five wide column">
            <button class="fluid ui green button" id="closingSale"> Encerrar Venda <br> (F10) </button>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>


<div class="ui basic modal finalizingSaleModal">
  <div class="ui icon header">

    Finalizar Venda?
  </div>
  <div class="body-modal-finalizing">
    <div class="actions">
      <div class="ui cancel button">Canelar</div>
      <button class="ui  green button" id="btn-finalizing" onclick="redirectFinalizingSale()">Finalizar Venda</button>
    </div>
  </div>
</div>

{{>partials/footer}}
<script src="/js/sale.js"></script>
