</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/js/semantic.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/jquery.mask.min.js"></script>

<script src="/js/actions.js"></script>

<script src="/js/formatInputs"></script>

<script src="/js/actionsModal.js"></script>
</body>

</html>