<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3d42fb5732.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/areaRight.css">


  <title>Document</title>
</head>

<body>

  <div class="ui grid">
    <div class="one  wide column menu-backgroud menu-left-col">
      <div class="row row-itens-menu">
        <img class="ui avatar image" src="/images/modelo.jpg">
        <span class="username-span">Carlos Emannoel</span>
      </div>
      <div class="ui divider"></div>
      <div class="row ">
        <div class="menu-left">
          <a href="/">
            <i class="fas fa-home"></i>
            <span>Inicio</span>
          </a>
          <a href="/product">
            <i class="fas fa-box"></i>
            <span>Produto</span>
          </a>

          <a href="/customers">
            <i class="fas fa-users"></i>
            <span>Clientes</span>
          </a>
          <a href="/new-customer">
            <i class="fas fa-user-plus"></i>
            <span>Novo Cliente</span>
          </a>
          <a href="/new-product">
            <i class="fas fa-plus-square"></i>
            <span>Novo Produto</span>
          </a>
          <a>
            <i class="fas fa-chart-pie"></i>
            <span>Relatórios</span>
          </a>
        </div>
      </div>
      <div class="row row-suporte-menu">
        <span>suporte@gmail.com</span>
      </div>
    </div>
    <div class="fifteen wide column ">