<div class="ui basic modal">
  <div class="ui icon header">
    <i class="fas fa-trash-alt"></i>
   Você tem certeza que deseja deletar este produto
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
     não
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      sim
    </div>
  </div>
</div>