<div class="ui modal modalSaleFast">

  <div class="area-sale-fast">
    <div class="title-sale-fast">
      <h1 class="h1">Finalizar Venda</h1>
    </div>
      <div class="body-end-sale">
        <div class="ui huge labeled input">
          <div class="ui label">Valor Recebido</div>
          <input type="text" onkeyup="formatMoney(this)" id="amountReceivedFast" name="amountReceived">
        </div>

        <button class="big green ui button" id="btnProcessSale">Finalizar</button>

  </div>


  <div class="amount-sale-fast">
    <h1 class="ui header totalValueFinalizing">
      Total {{sumAllSale}}
    </h1>
  </div>

</div>
</div>